<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login-container">
        <form class="-form">
            <h1>Login</h1>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button type="submit">Sign In</button>
        </form>
    </div>
</body>
</html>
